@charset "UTF-8";

.joinfmain {
	width: 55%;
	margin: 0 auto;
}

.joinf1 {
	width: 20%;
	float: left;
	margin: 0 auto;
	padding-top: 5%;
	padding-right: 6%;
}

.joinf1_1 {
	margin-bottom: 20%;
}

.joinf1_2 {
	margin-bottom: 15%;
}

.joinf2 {
	width: 74%;
	float: right;
	margin: 0 auto;
	padding-top: 5%;
}

.joinf2_wrap {
	width: 100%;
}

.joinf2_1 {
	font-size: 12px;
	color: #6f6f6f;
}

.jf2_1_1 {
	padding-top: 2%;
	padding-bottom: 8%;
}

.jf2_1_3 {
	padding-top: 8%;
	padding-bottom: 3%;
}

.jf2_1_4 {
	padding-bottom: 3%;
}

.jfh {
	padding-bottom: 6%;
	font-size: 12px;
	color: #6f6f6f;
}

.jftitle {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 16px;
	font-weight: bold;
}

.jftxt {
	width: 100%;
	height: 198px;
	line-height: 19px;
	text-align: left;
	margin-bottom: 2%;
	overflow-y: auto;
	font-size: 12px;
	color: #6f6f6f;
	border: 1px solid #d9d9d9;
}

.jfc {
	padding-bottom: 3%;
	font-size: 12px;
	color: #6f6f6f;
}

.jff {
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 12px;
	color: #6f6f6f;
	background-color: #e7e7e7;
}

.jff2 {
	text-align: center;
	padding-top: 6%;
	padding-bottom: 12%;
}

.jff2 input {
	width: 129px;
	height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #303030;
}

.jff2 > input > a {
	width: 129px;
	height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #303030;
}
/* a태그 */

.jmt {
	border-collapse: collapse;
}

.jmt_input {
	height: 24px;
}

.jmtl {
	width: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 13px;
	font-size: 12px;
	font-weight: bold;
	color: #303030;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.jmtr {
	line-height: 19px;
	padding-top: 2px;
	padding-left: 5px;
	box-sizing: border-box;
	font-size: 12px;
	color: #6f6f6f;
	border-bottom: 1px solid #d9d9d9;
}

.jmtr_b {
	width: 60px;
	height: 27.5px;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 11px;
	color: #808080;
	background-color: white;
	border: 1px solid #afafaf;
}

.jmtrft {
	width: 10%;
	height: 24px;
}

.jmtlf {
	width: 20%;
	padding-top: 2%;
	padding-left: 13px;
	padding-bottom: 2%;
	font-size: 12px;
	font-weight: bold;
	color: #303030;
	border-right: 1px solid #d9d9d9;
}

.jmtrf {
	padding-left: 5px;
	font-size: 12px;
	color: #6f6f6f;
}

#jmf_b1 {
	width: 82px;
	height: 35px;
	font: 13px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ba000e;
	border: 1px solid #ba000e;
}

#jmf_b2 {
	width: 82px;
	height: 35px;
	font: 13px;
	font-weight: bold;
	color: #303030;
	border: 1px solid #aeaeae;
}

.jmtemail {
	width: 107px;
	background-color: #f6f6f6;
	border: 1px solid #afafaf;
}

.jmtemail_s {
	width: 120px;
	height: 26.8px;
	margin-top: 4px;
	color: #6f6f6f;
}

.jmtadd {
	width: 88%;
	background-color: #f6f6f6;
	border: 1px solid #afafaf;
}

.jmtf_txt {
	line-height: 18px;
	font-size: 12px;
	font-weight: bold;
	color: #303030;
}

.jmtf_txt2 {
	line-height: 18px;
	font-size: 11px;
	color: #6f6f6f;
}