@charset "UTF-8";


.writemain {
	width: 55%;
	margin: 0 auto;
}

.write1 {
	width: 20%;
	float: left;
	margin: 0 auto;
	padding-top: 5%;
	padding-right: 6%;
}

.write_wrap1{
	width: 100%;
}

.write1_1 {
	margin-bottom: 8%;
}

.write1_2 {
	margin-bottom: 8%;
}

.write2 {
	width: 74%;
	float: right;
	margin: 0 auto;
	padding-top: 5%;
}

.write2_wrap {
	width: 100%;
}

.write2_1 {
	font-size: 12px;
	color: #6f6f6f;
}

.w2_1_1 {
	padding-top: 2%;
	padding-bottom: 10%;
}

.n_table{
	border-collapse: collapse;
	width: 100%;
}

/* .n_table tr, td {
	border-collapse: collapse;
	color: #303030;
	border-spacing:0px;
} */

.nt0 td{
	padding-bottom: 20px;
}

.n_t_s {
	width: 120px;
	height: 30px;
	border: #afafaf 1px solid;
}

.nt1 td{
	font-size: 12px;
	font-weight: bold;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	line-height: 38px;
}

#nt_1{
	width: 11%;
}

#nt_2{
	width: 11%;
}

#nt_3{
	width: 60%;
}

#nt_4{
	width: 18%;
}

.nt2{
	font-size: 12px;
	color: #6f6f6f;
}
.nt2 > td{
	    padding: 5px;
}
.nt_1_1{
	text-align: center;
}

.nt3 td{
	padding-top:40px;
	border-top: 1px solid #303030;
	text-align: center;
}

.nt3_d{
	
	display: inline-block;
}

.nt3_d2{
	font-size: 12px;
	color: #6f6f6f;
	display: inline-block;
	line-height: 27px;
}

.nt4 td{
	padding-top:20px;
	text-align: center;
}

.nt4 select{
	padding-top:0px;
	font-size: 13px;
	color: #6f6f6f;
	background-color: #FFFFFF;
	width: 120px;
	height: 27px;
} 

.nt4 input{
	padding-top:0px;
	padding-right: 0px;
	margin-right:0px;
	width: 152px;
	height: 23px;
	background-color: #ffffff;
}

.nt4 button{
	padding-top:0px;
	padding-left: 0px;
	margin-left:0px;
	width:30px;
	height: 27px;
	display: inline-block;
}



