@charset "UTF-8";

.writemain {
	width: 55%;
	margin: 0 auto;
}

.write1 {
	width: 20%;
	float: left;
	margin: 0 auto;
	padding-top: 5%;
	padding-right: 6%;
}

.write1_1 {
	margin-bottom: 20%;
}

.write1_2 {
	margin-bottom: 15%;
}

.write2 {
	width: 74%;
	float: right;
	margin: 0 auto;
	padding-top: 5%;
}

.write2_wrap {
	width: 100%;
}

.write2_1 {
	font-size: 12px;
	color: #6f6f6f;
}

.w2_1_1 {
	padding-top: 2%;
	padding-bottom: 10%;
}

.write2 table, tr, td {
	border-collapse: collapse;
	color: #303030;
}

.write2 select {
	color: #6f6f6f;
}

.wt1 td {
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.wt2 {
	width: 15%;
	font-weight: bold;
	font-size: 12px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 13px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.wt3 {
	padding-left: 5px;
	border-bottom: 1px solid #d9d9d9;
}

.wt2title {
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	border-bottom: 1px solid #d9d9d9;
}

.wt2title input {
	width: 99%;
	height: 24px;
	border: #afafaf 1px solid;
}

.wt3 select {
	width: 120px;
	/* width:15%; */
	height: 30px;
	border: #afafaf 1px solid;
}

.wt3 input {
	width: 120px;
	height: 24px;
	border: #afafaf 1px solid;
}

.wt4 {
	width: 39%;
	padding-left: 1%;
	border-bottom: 1px solid #d9d9d9;
}

.wt4 input {
	width: 95%;
	height: 24px;
	border: #afafaf 1px solid;
}

.wt2file {
	padding: 1%;
	font-size: 12px;
	color: #6f6f6f;
	border-bottom: 1px solid #d9d9d9;
}

.wt2file input {
	padding-bottom: 1%;
	color: #6f6f6f;
}

.wt2text {
	padding-top: 0.5%;
	padding-left: 1%;
}

.wt2text textarea {
	width: 99%;
	height: 82px;
	box-sizing: border-box;
}

.wt2msg {
	line-height: 1.5em;
	margin: 1.5%;
	padding: 1.7%;
	box-sizing: border-box;
	font-size: 12px;
	color: #6f6f6f;
	border: #afafaf 1px solid;
}

.wt5 {
	height: 30px;
	text-align: center;
	margin: 0 auto;
	border-top: 2px solid black;
	border-bottom: 1px solid white;
}

.wt5 input {
	width: 89px;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 12%;
	font-size: 13px;
	font-weight: bold;
}